@page
@model BulkuWebRazor_Temp.Pages.Categories.IndexModel

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
        <h2 class="text-primary">
            Category List
        </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Categories/creare" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>Create new Category </a>
        </div>
    </div>

<table class=" table table-border ">
    <thead>
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
            @foreach (var obj in Model.CategoryList.OrderBy(u => u.Display))
        {
            <tr>
               <td>  @obj.Name
            </td>
            <td> @obj.Display </td>
            <td>
                <div class="w-75 btnbtn-group" role="group">
                    <a asp-page="Category/edit"  asp-route-id="@obj.CategoryId" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                            <a asp-controller="Category/delete"  asp-route-id="@obj.CategoryId" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>